.about-container {
    max-width: 100%;
    padding-top: calc(var(--navheight) + 2px);
}

.about-wrapper {
    margin-bottom: var(--marginBot);
}

.about {
    display: flex;
    gap: var(--gap);
    place-content: center;
}

.about-text {
    font-size: 1.2rem;
    line-height: 2;
    width: 500px;
}

.about-tools {
    display: flex;
    align-items: center;
}

.tool {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 0.8);
    margin: 0 0.5rem 2rem 0.5rem;
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    gap: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 50%;
}

.tool img {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 75em) {
    .about {
        flex-direction: column;
        place-items: center;
    }

    .about-text {
        width: 80vw;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
    }

    .about-tools {
        flex-direction: column;
    }

    .tools-group {
        display: flex;
    }

    .tool {
        width: 4rem;
        height: 4rem;
        position: relative;
    }

    .tool p {
        position: absolute;
        top: 100%;
        margin-top: 0.2rem;
        color: white;
    }

    .tool img {
        width: 2rem;
        height: 2rem
    }

}

