.home-container{
    display: flex;
    place-content: center;
    min-height: 100vh;
    text-shadow: 0px 0px 5px whitesmoke;
    text-align: center;
}

.home-wrapper{
    margin-top: 40vh;
}

.home-wrapper h1{
    font-size: 5rem;
}
