@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root{
    --navheight: 3.5rem;
    --gap: 10rem;
    --marginBot: 10rem
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #212121;
    background-image: linear-gradient(rgb(0 0 0 /0.5), rgb(0 0 0 /0.5)), url('../imgs/night.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

ul, ol{
    list-style-type: none;
}

.title{
    text-align: center;
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto 2rem auto;
    color: rgb(2555 255 255 / 0.9);
    border-bottom: 1rem solid #0092cc;
}

a{
    color: white;
    text-decoration: none;
}

/* .modal {
    display: flex;
    place-content: center;
    width: 1000px;
    margin: auto;
    border: 0;
    outline: 0;
    background-color: #212121;
    user-select: none;
}

.modal img{
    max-height: 100%;
    max-width: 100%;
}

.modal button{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.modal-close{
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 50%;
}

.modal-desc, .modal-page{
    position: absolute;
    left: 0;
    background-color: rgb(0 0 0 / 0.7);
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.modal-page{
    top: 20px;
}

.modal-desc{
    bottom: 20px;
}

.modal-prev,
.modal-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.modal-prev:hover,
.modal-next:hover,
.modal-close:hover{
    background-color: black;
}

.modal-prev{
    left: 0;
}

.modal-next{
    right: 0;
}

.modal::backdrop{
    background-color: rgb(0 0 0 / 0.9);
} */
