@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
    --navheight: 3.5rem;
    --gap: 10rem;
    --marginBot: 10rem
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    background-image: linear-gradient(rgb(0 0 0 /0.5), rgb(0 0 0 /0.5)), url('../imgs/night.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

ul,
ol {
    list-style-type: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto 2rem auto;
    color: rgb(2555 255 255 / 0.9);
    border-bottom: 1rem solid #0092cc;
}

a {
    color: white;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: #212121;
}

body::-webkit-scrollbar-thumb {
    background-color: #313131;
    border: 2px solid #212121;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #414141;
}

@media screen and (max-width: 75em) {
    :root {
        --gap: 1rem
    }

    .title{
        font-size: 2rem;
        border-bottom: 5px solid #0092cc;
    }
}