.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100vw;
    height: var(--navheight);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    z-index: 999;
    transition: background-color 0.2s linear;
}

.hamburger {
    display: none;
}

.navbar.bg {
    background-color: #212121;
}

.navbar ul {
    display: flex;
    position: relative;
}

.navbar ul li {
    margin-left: 1rem;
    cursor: pointer;
}

.navbar .bar {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background-color: #0092cc;
    transition: transform 0.2s linear;
}

.resume {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 75em) {
    .navbar {
        justify-content: flex-start;
        padding: 0;
    }

    .navbar ul {
        position: absolute;
        top: 100%;
        flex-direction: column;
        background-color: #212121;
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform 0.2s ease-in;
    }

    .resume {
        place-content: center;
        margin-left: 0;
        padding: 0.5rem;
        text-align: center;
    }

    .navbar ul li {
        margin: 0;
        text-align: center;
    }

    .navbar .bar {
        display: none;
    }

    .hamburger {
        display: initial;
        background-color: transparent;
        padding: 0 1rem;
        border: 0;
        outline: 0;
        transition: transform 0.2s ease-in;
    }

    .hambar {
        width: 40px;
        height: 5px;
        background-color: #0092cc;
        margin-bottom: 5px;
        transition: transform 0.4s ease-in, opacity 0.2s ease-in;
    }

    .navbar.active .hamburger {
        transform: rotate(45deg);
        transition-delay: 0.5s;
    }

    .navbar.active .hambar:nth-child(1) {
        transform: translateY(10px);
    }

    .navbar.active .hambar:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .hambar:nth-child(3) {
        transform: translateY(-10px) rotate(90deg);
    }

    .navbar.active ul {
        transform: scaleY(1);
    }
}