.navbar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100vw;
    height: var(--navheight);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    z-index: 999;
    transition: background-color 0.2s linear;
}

.navbar.bg{
    background-color: #212121;
}

.navbar ul{
    display: flex;
    position: relative;
}

.navbar ul li{
    margin-left: 1rem;
    cursor: pointer;
}

.navbar .bar{
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background-color: white;
    transition: transform 0.2s linear;
}

